<% layout("layouts/boilerplate") %>
<div class="row">
    <h1 class="text-center">Edit <%=hospital.title%></h1>
    <div class="col-6 offset-3">
  <form action="/hospitals/<%=hospital._id%>?_method=PUT" method="post" novalidate class="validated-form">
    <div class="mb-3">
      <label class="form-label" for="title">Hospital title</label>
      <input value="<%=hospital.title %>" class="form-control" type="text" name="hospital[title]" id="title" required />
      <div class="invalid-feedback">
            Title Required
          </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="location">Hospital location</label>
      <input value="<%=hospital.location %>" class="form-control" type="text" name="hospital[location]" id="location" required />
      <div class="invalid-feedback">
            Location Required
          </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="description">Hospital description</label>
      <textarea class="form-control" name="hospital[description]" id="description" required><%= hospital.description %></textarea>
      <div class="invalid-feedback">
            Description Required
          </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Hospital Email</label>
        <input value="<%=hospital.email %>" class="form-control" type="text" name="hospital[email]" id="email" required />
        <div class="invalid-feedback">
              Description Required
            </div>
      </div>
    <div class="mb-3">
        <label class="form-label" for="Number">Hospital Number</label>
        <div class="input-group">
          <span class="input-group-text" id="Number-label">$</span>
          <input value="<%=hospital.phoneNumber %>" class="form-control" type="text"  id="Number" placeholder="Ex 90000000" aria-label="Number"
          aria-describedby="Number-label" name="hospital[phoneNumber]" required/>
          <div class="invalid-feedback">
              Number Required
            </div>
        </div>
      </div>
    <div class="mb-3">
      <label class="form-label" for="image">Image Url</label>
      <input value="<%=hospital.imgUrl %>" class="form-control" type="text" name="hospital[imgUrl]" id="image" required>
      <div class="invalid-feedback">
            Image Required
        </div> 
    </div>
    <button class="btn btn-success">Edit Hospital</button>
    <a class="btn btn-secondary" href="/Hospitals">All Hospitals</a>
  </form>
  
  </div>
  </div>